
body{
    margin: 0;
    padding: 0;  
    font-size: 1.5rem; 
}


form { 
    background: #000;  
    position: fixed; 
    bottom: 0;
    padding: 10px 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content:space-around;
}

form input { 
    border: 0; 
    padding: 10px; 
    flex-grow: 10;
}

form button { 
    background: rgb(130, 224, 255); 
    border: none; 
    padding: 10px;
    flex: 1;   
}

#messages { 
    display: flex;
    flex-direction: column-reverse;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    position:absolute;
    bottom:70px;
    top: 60px;
    width: 100%;
    overflow: auto;
}

#messages li { 
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;    
}

#messages li p { 
    float: left;
}

#messages li:nth-child(odd) {
    border-color: #ccc;
    background-color: #ddd;
}

.time {
    float: right;
}

#header{
    background-color: #202020;
    height: 60px;
    padding: 0px 5%;
    margin: 0px;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    float:right;
}


#user{
    float: left;
}

.menu li{
    display: inline-block;
    padding: 15px 20px;
    color: white;

}

.menu li.online{
    color: red;
}

